@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes icon-anim {
  0% , 100% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}

.card:hover .card__icon {
  animation: icon-anim 2s infinite linear both;
}